h1 {
    color: #ffa511;
    text-align: center;
    font-family: league spartan;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: double underline;
    text-transform: uppercase;

}

h2 {
    color: rgb(2, 4, 2);
    font-weight: bolder;

    div p {

        color: blue;
    }


    button {
        color: rgb(26, 10, 10);
        background-color: #ffffff
    }

    div>input {
        color: red;
    }
}